<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">
    <uses-permission android:name="android.permission.QUERY_ALL_PACKAGES"
        tools:ignore="PackageVisibilityPolicy,QueryAllPackagesPermission" />
    <uses-permission android:name="android.permission.BACKUP"
        tools:ignore="ProtectedPermissions" />

    <queries>
        <package android:name="com.hihonor.android.clone" />
        <package android:name="com.coloros.backuprestore" />
        <package android:name="com.miui.huanji" />
        <package android:name="com.vivo.easyshare" />
    </queries>

    <application
        android:allowBackup="false"
        android:icon="@mipmap/icon"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/icon"
        android:theme="@style/Theme.ForensicTool">
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:launchMode="singleTop">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <intent-filter>
                <action android:name="net.wrlu.forensictool.ACQUIRE_RESULT" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <service
            android:name=".backup.BackupService"
            android:exported="false" />
    </application>

</manifest>
